<ion-tabs >

  <ion-tab-bar slot="bottom" class="custom-tab-bar"  >

    <ion-tab-button tab="servicos" href="/oficina/servicos" >
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="orcamentos" href="/oficina/orcamentos">
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="certificados" href="/oficina/certificados">
      <ion-icon name="ribbon-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="config" href="/tabs/config" >
      <ion-icon name="settings-outline" ></ion-icon>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>