<ion-header class="ion-no-border">
  <ion-toolbar  style="--background: #672438; ">
    <ion-buttons slot="start">
      <ion-button (click)="onVoltaEtapa()" style="--color: #bbb; --padding-start: 0; --padding-end: 0;">
        <ion-icon slot="icon-only" name="chevron-back-outline" style="font-size: 18px;"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="text-align: right;">
      <img src="../../assets/image/logo.fw.png" alt="CheckKm" style="height: 40px; margin-top: 5px;">
    </ion-title>
  </ion-toolbar>

  <div style="background-color: #672438; width: 100%;">
    <div style="height: 30px; background-color: #ffffff; width: 100%; border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;"></div>
  </div>

</ion-header>

<ion-content style="--background: #ffffff;">

  <div *ngIf="_etapa=='celular'">
    <h2
      style=" font-size: 20px; font-weight: bold; margin: 16px; font-family: MuliBold; text-align: center; letter-spacing: -1px;">
      Qual é o seu número de <br>telefone?
    </h2>
    <p
      style=" font-size: 11px; font-weight: bold; margin: 16px; font-family: Muli; text-align: center; margin-top: -10px; opacity: 0.7;">
      Antes de irmos as obras, vamos te enviar um código de verificação.
    </p>

    <div class="phone-wrapper">
      <select [(ngModel)]="selectedCountry" class="flag-select">
        <option *ngFor="let country of countries" [value]="country.ddi">
          {{country.flag}}
        </option>
      </select>

      <div class="phone-box">
        <span class="ddi">+{{selectedCountry}}</span>
        <ion-input [(ngModel)]="_editCliente.celular" type="tel" maxlength="16" inputmode="tel"
          placeholder="(00) 00000-0000" [maskito]="phoneMask" [maskitoElement]="maskPredicate"></ion-input>
      </div>
    </div>
  </div>

  <div *ngIf="_etapa=='chave'">

    <h2
      style=" font-size: 20px; font-weight: bold; margin: 16px; font-family: MuliBold; text-align: center; letter-spacing: -1px;">
      Digite o código que <br>enviamos
    </h2>
    <p
      style=" font-size: 11px; font-weight: bold; margin: 16px; font-family: Muli; text-align: center; margin-top: -10px; opacity: 0.7;">
      Código enviado para +{{ selectedCountry }} {{ _editCliente.celular }}
    </p>

    <ion-grid>
      <ion-row class="align-center-space-between">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <div class="otp-container">
            <input [(ngModel)]="_chave1" maxlength="1" type="tel" #otpInput (input)="moveFocus($event, 0)"
              (keydown)="handleBackspace($event, 0)">
            <input [(ngModel)]="_chave2" maxlength="1" type="tel" #otpInput (input)="moveFocus($event, 1)"
              (keydown)="handleBackspace($event, 1)">
            <input [(ngModel)]="_chave3" maxlength="1" type="tel" #otpInput (input)="moveFocus($event, 2)"
              (keydown)="handleBackspace($event, 2)">
            <input [(ngModel)]="_chave4" maxlength="1" type="tel" #otpInput (input)="moveFocus($event, 3)"
              (keydown)="handleBackspace($event, 3)">
          </div>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>

    <p
      style=" font-size: 11px; font-weight: bold; margin: 16px; font-family: Muli; text-align: center; margin-top: 10px; opacity: 0.7; color: #457b9d">
      {{ timerText }}
    </p>
  </div>

  <div *ngIf="_etapa=='nome'">
    <h2
      style=" font-size: 20px; font-weight: bold; margin: 16px; font-family: MuliBold; text-align: center; letter-spacing: -1px;">
      Diga ai! <br>Qual o seu nome?
    </h2>
    <p
      style=" font-size: 11px; font-weight: bold; margin: 16px; font-family: Muli; text-align: center; margin-top: -10px; opacity: 0.7;">
      Mais um pouquinho, para novas experiências
    </p>

    <div class="phone-wrapper">
      <select [(ngModel)]="_editCliente.genero" class="flag-select">
        <option *ngFor="let sexo of _sexos" [value]="sexo.sexo">
          {{sexo.icon}}
        </option>
      </select>

      <div class="phone-box">
        <!-- <span class="ddi">+{{selectedCountry}}</span> -->
        <ion-input [(ngModel)]="_editCliente.nome" type="text" inputmode="text" autocapitalize="words"
          autocomplete="name"></ion-input>
      </div>
    </div>
  </div>

  <div *ngIf="_etapa=='cep'">
    <h2
      style=" font-size: 20px; font-weight: bold; margin: 16px; font-family: MuliBold; text-align: center; letter-spacing: -1px;">
      Onde você está?
    </h2>
    <p
      style=" font-size: 11px; font-weight: bold; margin: 16px; font-family: Muli; text-align: center; margin-top: -10px; opacity: 0.7;">
      Informe seu CEP, para buscarmos o seu endereço
    </p>

    <div class="phone-wrapper">
      <div class="phone-box">
        <!-- <span class="ddi">+{{selectedCountry}}</span> -->
        <ion-input [(ngModel)]="_editCliente.endereco.cep" type="tel" [maskito]="cepMask" [maskitoElement]="maskPredicate"
          placeholder="00.000-000"></ion-input>
      </div>
    </div>
  </div>

  <div *ngIf="_etapa=='endereco'">
    <h2
      style=" font-size: 20px; font-weight: bold; margin: 16px; font-family: MuliBold; text-align: center; letter-spacing: -1px;">
      {{ _editCliente.endereco.logradouro }}
    </h2>
    <p
      style=" font-size: 11px; font-weight: bold; margin: 16px; font-family: Muli; text-align: center; margin-top: -10px; opacity: 0.7;">
      {{ _editCliente.endereco.bairro }} - {{ _editCliente.endereco.cidade }} / {{ _editCliente.endereco.estado }}
    </p>
    <div class="phone-wrapper">
      <div class="phone-box">
                <p
          style=" font-size: 11px; font-weight: bold; margin: 16px; font-family: Muli; text-align: left; opacity: 0.7; margin-top: 22px;">
          Número
        </p>
        <ion-input [(ngModel)]="_editCliente.endereco.numero" type="text" placeholder="número"></ion-input>
      </div>
    </div>


    <div class="phone-wrapper">

      <div class="phone-box">
        <p
          style=" font-size: 11px; font-weight: bold; margin: 16px; font-family: Muli; text-align: left; opacity: 0.7; margin-top: 22px;">
          Complemento
        </p>
        <ion-input [(ngModel)]="_editCliente.endereco.complemento" type="text" placeholder="complemento"></ion-input>
      </div>
    </div>

  </div>

  <ion-modal #modalConsultaPlaca trigger="open-custom-dialog" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
    [backdropDismiss]="false" mode="ios">
    <ng-template>
      <div class="modal-content">
        <!-- <div class="progress-bar"></div> -->
        <div class="clock-icon">
          <img src="../../assets/image/clock.gif" style="height: 50px; border-radius: 50%;">
        </div>
        <h3>Estamos consultado a placa do veículo</h3>
        <p>Rápidinho...<br>Já teremos os dados necessários.</p>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal #modalCadastro trigger="open-custom-dialog" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
    [backdropDismiss]="false" mode="ios">
    <ng-template>
      <div class="modal-content">
        <!-- <div class="progress-bar"></div> -->
        <div class="clock-icon">
          <img src="../../assets/image/pen.gif" style="height: 50px; border-radius: 50%;">
        </div>
        <h3>Criando sua conta</h3>
        <p>Preparando tudo para você<br>aproveitar o app.</p>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer class="ion-no-border" style="text-align:right ;  ">
  <ion-toolbar style="padding-right: 10px; --background: #ffffff; height: 110px; padding-top: 3px;">

    <ion-grid>
      <ion-row class="align-center-space-between">
        <ion-col size="1"></ion-col>
        <ion-col size="10">

          <ion-button (click)="onMudaEtapa()"
            [disabled]="!_editCliente.celular || _editCliente.celular.trim().length < 15" fill="solid" size="small"
            expand="block" mode="ios" style=" 
      --background: #3B426A;
      --color: white;
      --border-radius: 20px;
      height: 40px;
      min-height: 40px;
      padding: 10px;
      font-size: 12px;
      font-family: MuliBold;
      width: 100% !important;
      margin-top: -10px; ">
            {{
            _etapa=='celular' ? 'Enviar código'
            : _etapa=='chave' ? 'Validar'
            : _etapa=='cep' ? 'Consultar' : 'Finalizar'}}
          </ion-button>

        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>

    <p *ngIf="_etapa=='celular' || _etapa=='chave'"
      style=" font-size: 9px; font-weight: bold; margin: 16px; font-family: Muli; text-align: center;  opacity: 0.5; margin-top: 10px;">
      Ao clicar em "enviar código", você concorda <br>com os <u>Termos e Serviços</u> da <b>itour</b>
    </p>

    <p *ngIf="_etapa!='celular' && _etapa!='chave'"
      style=" font-size: 9px; font-weight: bold; margin: 16px; font-family: Muli; text-align: center;  opacity: 0.5; margin-top: 10px;">
      Na Morazzi você encontrará <br>as melhores soluções!
    </p>
    

  </ion-toolbar>
</ion-footer>