// .custom-tab-bar {
//     position: fixed;
//     bottom: 20px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 90%;
//     height: 70px;
//     // background: white;
//     border-radius: 35px;
//     // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     z-index: 9; /* Mantém a tab bar abaixo do botão */
//   }
  
//   .custom-tab-bar::before {
//     content: "";
//     position: absolute;
//     top: -25px;
//     left: 50%;
//     width: 80px;
//     height: 40px;
//     // background: white;
//     transform: translateX(-50%);
//     border-radius: 50%;
//     z-index: -1;
//     // box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
//   }
  
//   .custom-tab-bar ion-tab-button {
//     flex: 1;
//     color: #999;
//     transition: all 0.3s ease;

    
//   }
  
//   .custom-tab-bar ion-tab-button ion-icon {
//     font-size: 24px;
//   }
  
//   .custom-tab-bar ion-tab-button.tab-selected {
//     color: #cb1f1f;
//   }

//   .custom-tab-bar ion-tab-button.tab-focus   {
//     color: #cb1f1f;
//   }
  

ion-tab-button.red_salsa {
    --color-selected: #f28482;
}

ion-tabs {
    ion-fab {
        margin-bottom: env(safe-area-inset-bottom);

        /* fix notch ios*/
        ion-fab-button {
            --box-shadow: none;
        }
    }

    ion-tab-bar {
        --border: 0;
        --background: #F5F5F5; // transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;

        &:after {
            content: " ";
            width: 100%;
            bottom: 0;
            background: #F9F9F9;
            height: env(safe-area-inset-bottom);
            position: absolute;
        }

        ion-tab-button {
            --background: #ffffff;
        }

        ion-tab-button.comments {
            margin-right: 0px;
            border-top-right-radius: 18px;
        }

        ion-tab-button.notifs {
            margin-left: 0px;
            border-top-left-radius: 18px;
        }

        svg {
            width: 72px;
            margin-top: 19px;

            path {
                fill: #ffffff;
            }
        }
    }
}
  