ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;

  --border-radius: 20px 20px 0px 0px;

  >h1 {
    color: #3d3d3d;
    font-size: 11pt;
    font-weight: 700;
  }
}

.align-center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}

.greeting p,
.greeting h2,
.recent-km p,
.update-km {
  font-family: 'MuliBold', sans-serif;
}

.revisao-km {
  font-family: 'MuliBold', sans-serif;
}

.greeting p {
  margin: 0;
  font-size: 14px;
}

.greeting h2 {
  font-family: 'MuliBold' !important;
  margin: 0;
  font-weight: bolder;
  font-size: 18px;
}

.tour-card {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  background-color: #ffffff;
  margin: 3px !important; 
  padding: 0px !important;
}

.tour-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  font-family: 'MuliBold', sans-serif;
  border-radius: 10px;
}

.local {
  font-size: 10px;
  color: #777;
  margin-bottom: 4px;
  font-family: 'MuliBold', sans-serif;
}

.titulo {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 6px 0;
  font-family: 'MuliBold', sans-serif;
  color: #1b263b;
}

.info {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  margin-bottom: 6px;
  font-family: 'MuliBold', sans-serif;
}

.badge {
  font-weight: 500;
}

.badge-projeto {
  color: #9163cb;
}

.badge-acabamento {
  color: #02c39a;
}

.badge-decoracao {
  color: #3f8efc;
}

.stars {
  color: #fbc02d;
  font-size: 14px;
}

.preco {
  color: #1b263b;
  font-weight: bold;
  margin: 0;
  font-family: 'MuliBold', sans-serif;
  letter-spacing: -1;
  font-size: 15px;
  margin-top: -3px;
  /* linha cinza claro */
}

ion-searchbar.custom {
  font-weight: bold;
  font-family: 'MuliBold';
  font-size: 10px !important;
  padding-left: 20px;
}

ion-modal {
    --height: auto;
}


.modal-content {
    padding: 20px;
    padding-bottom: 30px;

    font-family: MuliBold;
    text-align: center;
    background: #ffffff;
    color: #1b263b;
     font-family: 'MuliBold', sans-serif;
}

