<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #672438; ">

    <ion-title style="text-align: left;">
      <img src="../../assets/image/logo.fw.png" style="height: 60px; margin-left: 10px;">
    </ion-title>

    <ion-buttons slot="end" style="margin-top: -10px;">
      <ion-button (click)="onFiltro()" style="--color: #bbb; --padding-start: 0; --padding-end: 0;">
        <ion-icon slot="icon-only" name="search" style="font-size: 26px;"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>

  <ion-toolbar style="--background: #672438;  margin-top: -25px; height: 33px;  ">
    <div style="height: 30px; background-color: #F5F5F5; width: 100%; border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;">
    </div>
  </ion-toolbar>
</ion-header>


<ion-content style="--background: #F5F5F5;  ">

  <ion-grid>
    <ion-row class="align-center-space-between">
      <ion-col size="auto">
        <div class="greeting">
          <p>Nossos parceiros <span style="color: #25a18e ;">constroem</span> , </p>
          <h2><span style="color: #c9184a ;">Sonhos</span> junto com você</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center; " *ngIf="_regParceiros.length==0">
    <img src="../../assets/image/card_abrindo3.gif" style="width: 90%; border-radius: 15px; margin-top: 10px;">
    <img src="../../assets/image/card_abrindo3.gif" style="width: 90%; border-radius: 15px; margin-top: 30px;">
  </div>


  <ion-row class="no-padding" style="--ion-grid-padding:0; --ion-grid-column-padding:0; margin: 0px !important;">
    <ion-col *ngFor="let ads of _regParceiros; let i = index" (click)="onRegistroInteracao(ads)" size="6" size-md="0">
      <ion-card class="tour-card" mode="ios">
        <img src="{{ ads._logo }}" />
        <ion-card-content>
          <p class="local" style="min-height: 30px;">{{ ads.endereco.cidade }} / {{ ads.endereco.estado }}</p>
          <h2 class="titulo" style="min-height: 60px;">
            {{ ads.razao_social }}
            <br> <span class="stars">★★★★★</span>
          </h2>
          <div class="info">
            <span class="badge" [ngClass]="{
        'badge-projeto': ads.atuacao === 'projeto',
        'badge-acabamento': ads.atuacao === 'acabamento',
        'badge-decoracao': ads.atuacao === 'decoracao'
      }">{{ trataAtuacao(ads.atuacao) }}</span><br>

          </div>
          <p class="local"
            style="font-size: 11px; font-weight: normal; border-top: 1px solid #e0e0e0; padding-top: 10px; margin-top: 10px; ">
            <ion-button fill="solid" size="small" expand="block" mode="ios" style=" 
              --background: #5f0f40;
              --color: white;
              --border-radius: 20px;
              height: 30px;
              min-height: 30px;
              padding-top: 10px;
              font-size: 12px;
              font-family: MuliBold;      
              margin-top: -12px;
              margin-bottom: 2px;
              padding-left: 5px;
              padding-right: 5px;">
              <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
              {{ getMensagemAleatoria() }}
            </ion-button>
          </p>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <div style="min-height: 200px; text-align: center;">
  </div>

  <ion-modal #modalFiltro trigger="open-custom-dialog" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
    [backdropDismiss]="false" mode="ios">
    <ng-template>
      <div class="modal-content">

        <ion-segment [(ngModel)]="_opBusca" value="all"
          style="font-family: 'MuliBold'; font-size: 10px ; color: #4a5759;">
          <ion-segment-button value="local">
            <ion-label style="font-size: 10px ;">Atuação</ion-label>
          </ion-segment-button>
          <ion-segment-button value="atividades">
            <ion-label style="font-size: 10px ;">Segmento</ion-label>
          </ion-segment-button>
          <ion-segment-button value="sustentabilidade">
            <ion-label style="font-size: 10px ;">Local</ion-label>
          </ion-segment-button>
          <ion-segment-button value="qualificacao">
            <ion-label style="font-size: 10px ;">Qualificação</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div style="max-height: 250px; min-height: 250px; overflow-y: auto;">
          <ion-list *ngIf="_opBusca=='local'">
            <ion-item *ngFor="let item  of _regAtuacoes; let i = index">
              <ion-toggle [checked]="item.selecionado" (ionChange)="onFiltroAtuacao(item._id)" mode="md" color="success"
                style="font-size: 12px; font-family: 'MuliBold';">{{ item.atuacao }}</ion-toggle>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="_opBusca=='atividades'">
            <ion-item *ngFor="let item  of _regSegmentos; let i = index">
              <ion-toggle [checked]="item.selecionado" mode="md" color="success"
                style="font-size: 12px; font-family: 'MuliBold';">{{ item.segmento }}</ion-toggle>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="_opBusca=='sustentabilidade'">
            <ion-item *ngFor="let item  of _regCidades ; let i = index">
              <ion-toggle [checked]="item.selecionado" mode="md" color="success"
                style="font-size: 12px; font-family: 'MuliBold';">{{ item.cidade + '/'+ item.estado }}</ion-toggle>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="_opBusca=='qualificacao'">

            <ion-item>
              <ion-toggle [checked]="false" mode="md" color="success" style="font-size: 12px; font-family: 'MuliBold';">
                <span class="stars">★★</span>
                <span class="reviews">(2)</span>
              </ion-toggle>
            </ion-item>

            <ion-item>
              <ion-toggle [checked]="false" mode="md" color="success" style="font-size: 12px; font-family: 'MuliBold';">
                <span class="stars">★★★</span>
                <span class="reviews">(3)</span>
              </ion-toggle>
            </ion-item>

            <ion-item>
              <ion-toggle [checked]="false" mode="md" color="success" style="font-size: 12px; font-family: 'MuliBold';">
                <span class="stars">★★★★</span>
                <span class="reviews">(4)</span>
              </ion-toggle>
            </ion-item>

            <ion-item>
              <ion-toggle [checked]="false" mode="md" color="success" style="font-size: 12px; font-family: 'MuliBold';">
                <span class="stars">★★★★★</span>
                <span class="reviews">(5)</span>
              </ion-toggle>
            </ion-item>
          </ion-list>
        </div>

      </div>
    </ng-template>
  </ion-modal>

  <ion-modal #modalInteracao trigger="open-custom-dialog" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
    [backdropDismiss]="false" mode="ios">
    <ng-template>

      <div *ngIf="_registroInteracao=='registrando'" class="modal-content">
        <div class="clock-icon">
          <img src="../../assets/image/registrando.gif" style="height: 70px; border-radius: 50%;">
        </div>
        <h3>Um momentinho...</h3>
        <p>Estamos contactando nosso parceiro <br> {{ _registroInteracaoParceiro }} </p>
      </div>

      <div *ngIf="_registroInteracao=='registrado'" class="modal-content">
        <div class="clock-icon">
          <img src="../../assets/image/check.gif" style="height: 70px; border-radius: 50%;">
        </div>
        <h3>Feito! 😉</h3>
        <p>Logo logo você recebrá um olá! </p>
      </div>

    </ng-template>
  </ion-modal>

</ion-content>