<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #672438; ">

    <ion-title style="text-align: left;">
      <img src="../../assets/image/logo.fw.png" alt="CheckKm" style="height: 60px; margin-left: 10px;">
    </ion-title>

    <ion-buttons slot="end" style="margin-top: -10px;">
      <ion-button (click)="onCadastro()" style="--color: #bbb; --padding-start: 0; --padding-end: 0;">
        <ion-icon slot="icon-only" name="checkmark-done-outline" style="font-size: 26px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar style="--background: #672438;">
    <div class="user-header">
      <div class="user-info">
        <div class="user-name">
          <h2>{{ _regParceiro != undefined ? _regParceiro._nome : 'Carregando...'}}</h2>
          <p class="user-company">
            {{ _regParceiro != undefined ? _regParceiro.endereco.cidade +'/'+ _regParceiro.endereco.estado :
            'Carregando...' }}
          </p>
          <p class="user-points">
            <ion-icon name="flash-outline"></ion-icon> 100 pts
          </p>
        </div>
      </div>
      <div class="user-avatar" style="position: relative;">
        <img
          src="{{ _regParceiro != undefined ?_regParceiro._logo : 'https://media.lordicon.com/icons/wired/lineal/44-avatar-user-in-circle.svg' }}"
          (click)="onLogoPerfil()">

        <!-- Botão sobre a foto -->
        <ion-fab-button size="small" class="avatar-btn" (click)="onLogoPerfil()">
          <ion-icon name="camera-outline" style="font-size: 20px;"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-toolbar>

  <ion-toolbar style="--background: #672438;  margin-top: -15px; height: 33px;  ">
    <div style="height: 30px; background-color: #F5F5F5; width: 100%; border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;">
    </div>
  </ion-toolbar>
</ion-header>


<ion-content style="--background: #F5F5F5;  ">

  <ion-grid>
    <ion-row class="align-center-space-between">
      <ion-col size="auto">
        <div class="greeting">
          <p>Perfil</p>
          <h2 style="color: #56619A;">Dados Pessoais</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="_regParceiro != undefined" class="formulario">
    <ion-item>
      <ion-label position="stacked">Razão Social</ion-label>
      <ion-input [(ngModel)]="_regParceiro.razao_social" placeholder="Digite o nome da oficina"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome Fantasia</ion-label>
      <ion-input [(ngModel)]="_regParceiro.nome_fantasia" placeholder="Digite o nome da oficina"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Celular</ion-label>
      <ion-input [(ngModel)]="_regParceiro.celular" placeholder="(00) 00000-0000" [maskito]="phoneMask"
        [maskitoElement]="maskPredicate" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input [(ngModel)]="_regParceiro.telefone" placeholder="(00) 00000-0000" [maskito]="phoneMask"
        [maskitoElement]="maskPredicate" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="_regParceiro.email" placeholder="Digite seu email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CNPJ</ion-label>
      <ion-input [(ngModel)]="_regParceiro.cnpj" [maskito]="cnpjMask" [maskitoElement]="maskPredicate"
        placeholder="00.000.000/0000-00" type="tel"></ion-input>
    </ion-item>

    <br>
    <ion-grid style="margin-bottom: 10px;">
      <ion-row class="align-center-space-between">
        <ion-col size="auto">
          <div class="greeting">
            <p>📃</p>
            <h2 style="color: #56619A ;">Marketing</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label position="stacked">Slogan</ion-label>
      <ion-input [(ngModel)]="_regParceiro.slogan" placeholder="Chame a atenção" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sobre</ion-label>
      <ion-input [(ngModel)]="_regParceiro.sobre" placeholder="Mais sobre a empresa" type="text"></ion-input>
    </ion-item>

    <br>
    <ion-grid style="margin-bottom: 10px;">
      <ion-row class="align-center-space-between">
        <ion-col size="auto">
          <div class="greeting">
            <p>🏠</p>
            <h2 style="color: #56619A ;">Meu Endereço</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item class="mt-4">
      <ion-label position="stacked">CEP</ion-label>
      <ion-input [(ngModel)]="_regParceiro.cep" [maskito]="cepMask" [maskitoElement]="maskPredicate"
        placeholder="00.000-000" type="tel">
      </ion-input>

      <ion-button fill="clear" slot="end" (click)="onBuscaCep()">
        <ion-icon slot="icon-only" name="search" color="secondary"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rua, Avenida ...</ion-label>
      <ion-input [(ngModel)]="_regParceiro.logradouro" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número</ion-label>
      <ion-input [(ngModel)]="_regParceiro.numero" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Complemento</ion-label>
      <ion-input [(ngModel)]="_regParceiro.complemento" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bairro</ion-label>
      <ion-input [(ngModel)]="_regParceiro.bairro" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input [(ngModel)]="_regParceiro.cidade" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input [(ngModel)]="_regParceiro.estado" type="text"></ion-input>
    </ion-item>

    <br>
    <ion-grid style="margin-bottom: 10px;">
      <ion-row class="align-center-space-between">
        <ion-col size="auto">
          <div class="greeting">
            <p>😍</p>
            <h2 style="color: #e63946 ;">Interesses</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item *ngFor="let item of _regSegmentos; let i = index" style="margin-top: -10px;">
      <ion-checkbox justify="space-between" [checked]="isChecked(item._id)"
        (ionChange)="toggleSegmento(item._id, $event.detail.checked)">
        {{ item.segmento }}
      </ion-checkbox>
    </ion-item>

  </div>

  <ion-grid>
    <ion-row class="align-center-space-between">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-button (click)="onSair()" fill="solid" size="small" expand="block" mode="ios" style=" 
      --background: #c1121f;
      --color: white;
      --border-radius: 20px;
      height: 40px;
      min-height: 40px;
      padding: 10px;
      font-size: 12px;
      font-family: MuliBold;
      width: 100% !important;
      margin-top: 20px;
      margin-bottom: 20px;
    ">
          Sair
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>


  <div style="min-height: 200px; text-align: center;">
  </div>

</ion-content>